extends layout
block content
  h1= title
  - var image_names = ["anvesh1", "anvesh2", "anvesh3", "anvesh4", "anvesh5"]
  - for(let i = 0; i < 3; i++) {
    - let number = Math.floor(Math.random() * 5)
        img(src=`/images/${image_names[number]}.jpg`, alt="pictures i like", height="300px", width="300px")
  - }